<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title th:text="#{company.name} + #{app.version}">XXX管理系统</title>
</head>

<body>
	<div class="outer">
		<div class="A">
			<div th:insert="base :: header" style="width: 1024px; margin-left: auto; margin-right: auto"></div>
		</div>
		<div class="B">
			<div class="easyui-tabs" style="width: 100%; height: 100%">
				<div title="图书查询" data-options="href:'/library/library'" style="padding: 0px"></div>
				<div sec:authorize="hasRole('ROLE_ADMIN')" title="系统用户" data-options="href:'/admin/system-user'" style="padding: 0px"></div>
								
			</div>

		</div>
	</div>
</body>
</html>